[package]
name = "emerald-vault-node"
version = "0.12.0-dev"
authors = ["Igor Artamonov <igor@artamonov.ru>"]
license = "Apache-2.0"
exclude = ["artifacts.json", "index.node"]

[lib]
name = "emerald_vault_node"
crate-type = ["cdylib"]

[build-dependencies]
neon-build = "0.10.1"

[dependencies]
#emerald-vault = "=0.33.0"
emerald-hwkey = "=0.5.0"
#emerald-vault = { path = "../../../../emerald-vault" }
#emerald-hwkey = { path = "../../../../emerald-hwkey" }
emerald-vault = { git = "https://github.com/emeraldpay/emerald-vault", branch = "master" }
#emerald-hwkey = { git = "https://github.com/emeraldpay/emerald-hwkey", branch = "master" }
hdpath = "0.6.3"
#hdpath = { path = "../../../../hdpath", features = ["with-bitcoin"] }
lazy_static = "1.4.0"
uuid = { version = "1.2.2", features = ["serde", "v4"] }
hex = "0.4.3"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
chrono = { version = "0.4", features = ["serde"] }
bitcoin = "0.29"
env_logger = "0.8.1"
log = "0.4.11"
byteorder = "1.4.3"
num-bigint = "^0.4"
neon-frame = "0.1"
neon-frame-macro = "0.1.1"
#neon-frame = { path = "../../../../neon-frame/neon-frame" }
#neon-frame-macro = { path = "../../../../neon-frame/neon-frame-macro" }
base64 = "0.21.0"

[dependencies.neon]
version = "0.10.1"
default-features = false
features = ["napi-6", "channel-api"]

[features]
default = []
hwkey-emulate = ["emerald-vault/hwkey-emulate"]
